html{
    width:100%;
    min-height:100vh;
    
}
body{
    background-image:url("background.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}
.toDoMain{
    min-height:50%;
    position: absolute;
    width:60%; 
    background-color: rgba(255,255,255,0.7);
    margin-top:3%;
    margin-left:20%;
}
.toDoTitle{
    font-style: italic;
    margin-left:45%;
    color: #ff4d4d;
}
.toDoBox{
    margin-left:10%;
    width:80%;
}
.toDoBox input{
    width:100%;
    font-style: italic;
    border: 0;
    border-bottom: 2px solid #ff4d4d;
    outline: 0;
    font-size: 1.3rem;
    color: black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    font-style: italic;
}
.toDoBox input::selection {
    background: #FFF; /* WebKit/Blink Browsers */
  }
.toDoBox input::-moz-selection {
    background: #FFF; /* Gecko Browsers */
}
.toDoBox input:hover{
    border-bottom: 4px solid #ff4d4d;
    transition: border-bottom 0.2s;
    font-style: italic;
}
.button1{
    margin-top: 4%;
    min-height: 35px;
    width: 100%;
    background: transparent;
    border:0;
    border-bottom: 2px solid #ff4d4d;
    border-left: 2px solid #ff4d4d;
    border-right: 2px solid #ff4d4d;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    font-style: italic;
}
.buttonEdit{
  cursor:pointer;
}
.button1:hover{
    background: #ff4d4d;
    color:white;
    transition: background 1.5s;    
}
.button1:active{
    padding:1%;
    border:2px solid white;
}
.toDoData{
    width: 80%;
    margin-left:10%;
    background: white;
    height:31vh;
    margin-bottom: 7%;
    overflow-y: scroll;
}
table{
    height: 31vh;
    font-size: 13px;
    font-style: italic;
    width:100%;
    border-collapse: collapse;
    text-align: center;
}
table tr{
    border:1px solid #ff4d4d;
    font-weight: normal;
}
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  ul{
    width: 95.5%;
    height:100%;
  }
  /* Style the list items */
  ul li {
    width: 99%;
    padding:0.5%;
    cursor: pointer;
    position: relative;
    list-style-type: none;
    text-align: center;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    margin-left:-20px;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #f44336;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #f44336;
    color: #fff;
    text-decoration:none;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }